.credentials {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  @media screen and (max-width: $tablet) {
    padding: 2rem 0;
  }
  @media screen and (max-width: $mobile-sm) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.credentials-col {
  @media screen and (max-width: $tablet) {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  @media screen and (max-width: $mobile-sm) {
    width: 100%;

    &:not(:last-child) {
      margin: 0;
    }
  }
}

.credentials-col__info {
  display: flex;
  align-items: center;
  @media screen and (max-width: $mobile-sm) {
    justify-content: center;
  }

  dt {
    min-width: 175px;
    text-align: right;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    @media screen and (max-width: $tablet) {
      font-size: 14px;
      min-width: 120px;
    }
    @media screen and (max-width: $mobile-sm) {
      text-align: left;
      min-width: auto;
      width: 100%;
    }
  }

  dd {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    @media screen and (max-width: $tablet) {
      font-size: 14px;
    }
    @media screen and (max-width: $mobile) {
      width: 100%;
      text-align: right;
    }
  }
}