.credentials {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.credentials-col {
}

.credentials-col__info {
  display: flex;
  align-items: center;

  dt {
    min-width: 175px;
    text-align: right;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  dd {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
  }
}