#mobile {
  display: none;
}

@media screen and (max-width: $mobile) {
  #bigScreen {
    display: none;
  }

  #mobile {
    display: block;
    padding: 2rem 0;
    margin: 0 -15px;
  }
}



.dashboard__invoice {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5rem 3rem;
  border-bottom: 1px solid white;

  @media screen and (max-width: $laptop) {
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
}



.invoice-col {

  @media screen and (max-width: $pc-sm) {
    flex-basis: 50%;
  }

  &:not(:first-child) {
    padding-left: 13rem;

    border-left: 1px solid white;

    @media screen and (max-width: $pc-sm) {
      padding-left: 0;
    }
  }


  @media screen and (max-width: $mobile) {
    &:not(:first-child) {
      border: 0;
      padding-left: 0;

    }
  }

  &:first-child {
    @media screen and (max-width: $pc-sm) {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: white;
        bottom: -7%;
        left: 0;
      }
    }
  }
  &:nth-child(2) {
    @media screen and (max-width: $pc-sm) {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: white;
        bottom: -7%;
        left: 0;
      }
    }
  }
  &:nth-child(3) {
    @media screen and (max-width: $pc-sm) {
      border-left: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;

    width: 130px;
    max-width: 100%;
    background: white;
    border-radius: 8px;
    border: 0;
    box-shadow: $box-shadow;

    font-family: $roboto;
    font-size: 14px;
    color: #4D4F5C;
    cursor: pointer;

    padding: .5rem 1.5rem;
    margin-top: 4rem;

    transition: transform .3s cubic-bezier(.25,.75,.5,1.25);

    text-decoration: none;
    color: #4D4F5C;

    @media screen and (max-width: $pc-sm) {
      margin: 0 auto;
    }


    img {
      width: 15px;
      height: 15px;
    }

    &:hover {
      transform: translateX(3px);
    }
  }


  @media screen and (max-width: $pc-sm) {
    flex-basis: 50%;
    padding-right: 0;
    text-align: center;
    margin-bottom: 5rem;
  }

}


.invoice-col__title {
  font-family: $poppins;
  font-size: 18px;
  font-weight: 700;
  color: $gray;
  margin-bottom: 1rem;
}

.invoice-col__status {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;


  &:nth-child(6) {
    @media screen and (max-width: $pc-sm) {
      padding-bottom: 3rem;
    }
  }



  &-text {
    font-family: $poppins;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

  }

  &-number {
    font-family: $roboto;
    font-size: 20px;
    font-weight: 700;
  }
}

#totalText {
  font-size: 18px;
}



#pendingReceivedInvoice,
#pendingSentInvoice,
#pendingReceivedOrder,
#pendingSentOrder {
  color: $pending;
}

#unloadedReceivedInvoice,
#unloadedSentInvoice,
#unloadedReceivedOrder,
#unloadedSentOrder {
  color: $process; /* REJECTED */
}

#acceptedReceivedInvoice,
#acceptedSentInvoice,
#acceptedReceivedOrder,
#acceptedSentOrder {
  color: $confirmed;
}

#totalReceivedInvoice,
#totalSentInvoice,
#totalReceivedOrder,
#totalSentOrder {
  color: $total;
}

#processingReceivedInvoice,
#processingSentInvoice,
#processingReceivedOrder,
#processingSentOrder {
  color: $processing;
}







/* Mobile */

.invoice-col__mobile {
  padding-bottom: 2rem;
  margin: auto;
  &-title {
    font-family: $poppins;
    font-size: 18px;
    font-weight: 700;
    color: $gray;
    padding-bottom: 1rem;
  }

  &-container {
    background: white;
    border-radius: 5px;
    padding-bottom: 2rem;
    max-width: 95%;
    margin: 0 auto;

    &__flexbox {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
    }
  }

  &-status {
    &__text {
      text-align: left;
      font-family: $roboto;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      &:not(:last-child) {
        padding-bottom: 1rem;
      }
    }

    &__number {
      text-align: right;
      font-family: $roboto;
      font-size: 16px;
      font-weight: 700;
      &:not(:last-child) {
        padding-bottom: 1rem;
      }
    }
  }

}

.invoice-col__mobile > * {
   text-align: center;
}