.graph {
  padding: 4rem 0;

  border-bottom: 1px solid white;
}

.graph__inner {
  display: flex;

  @media screen and (max-width: 1171px) {
    flex-wrap: wrap;
  }
}

.graph-item {
  margin: 0 auto;
  flex-basis: 40%;

  &:not(:last-child) {
    border-right: 1px solid white;
    padding-right: 5rem;
  }

  &:last-child {
    padding-top: 3rem;
  }

  //@media screen and (max-width: 1171px) {
  //  flex-basis: 100%;
  //  width: 350px;
  //}

}

.graph-item__chart {

}

.graph-item__select {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;

  &-title {
    font-family: $source-sans-pro;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray;
  }

  &-options {
    button {
      cursor: pointer;
      background: none;
      border: 0;

      font-family: $source-sans-pro;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }



  }

}

.invoice-btns,
.order-btns {
  outline: none;
  &.active {
    border: 1px solid $black;
    border-radius: 2px;
  }
}


