.recovery-container {
    max-width: 530px;
    margin: 0 auto;

    @media screen and (max-height: $mobile) and (max-width: $mobile-sm) {
        max-width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.recovery-wrapper {
    padding: 2.5rem 7rem 2rem;
    @media screen and (max-height: $mobile) and (max-width: $mobile-sm) {
        width: 100%;
        padding: 0 3rem;
    }
}

.recovery-form__title {
    padding-bottom: 2rem;
}

.recovery-form__message {
    display: none;
    max-width: 370px;
    margin: 0 auto;
    border: 1px solid #d6ecd4;
    color: #3c6638;
    background: #e1f2e0;

    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;

    font-family: $roboto;
    font-weight: 400;
    font-size: 15px;

    &--active {
        display: block;
    }
}

.recovery-form__btn {
    &.charge {
        background: #ccc;
        color: #424346;
        border-color: #ccc;

    }
}