.sidebar {
  width: 13%;
  position: fixed;
  min-height: 100vh;
  left: 0;
  z-index: 1;
  background-color: $dark-blue;

  @media screen and (max-width: $laptop) {
    width: 15%;
  }

  @media screen and (max-width: $mobile) {
    position: relative;
    width: 100%;
    min-height: 60px;
    right: 0;
    z-index: 1000;
  }

}
//
//.hamburger-menu.open .sidebar {
//  min-height: 100vh;
//}


.sidebar-inner {
  @media screen and (max-width: $mobile) {
    display: none;

    &.show {
      display: block;
      height: 100%;
    }
  }
}

.sidebar-inner__profile {
  background: $black;
  text-align: center;
  z-index: 15;

  @media screen and (max-width: $mobile) {
    display: none;
  }

  &-img {
    max-width: 50%;
    margin: 0 auto;
    z-index: 10;
    overflow: hidden;
    padding-top: 3.5rem;
    img {
      z-index: 5;
      //margin-top: -3.5rem;
      max-width: 100%;
      object-fit: contain;
    }
    @media screen and (max-width: $laptop) {
      padding-bottom: 3rem;
    }
  }


  &-name {
    padding-top: 3rem;
    font-size: 24px;
    color: white;

    padding-bottom: 3rem;

    @media screen and (max-width: $laptop) {
      display: none;
    }
  }
  &-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: $gray;

    padding-bottom: 8rem;

    span {
      color: $light-green;
      font-weight: 400;
      padding-left: .8rem;
    }
  }
}

.sidebar-inner__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ul {
    padding: 3rem 0 0 .3rem;
    color: white;

    @media screen and (max-width: $laptop) {
      //padding: 1.5rem 0 0 0;
      padding: 0;
    }

    li {
      list-style: none;
      padding-bottom: 1.5rem;
      @media screen and (max-height: 850px) {
        padding-bottom: 0;
      }

      a {
        text-decoration: none;
        transition: color .5s linear;
        color: white;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: $mobile) {
          margin-bottom: 2rem;
        }

        @media screen and (max-width: $pc-sm) {
          padding: 0 1rem;
        }


        @media screen and (max-width: $laptop) {
          display: flex;
          flex-direction: column;
          align-items: center;
          //margin-bottom: .3rem;
        }

        img {
          display: inline;
          vertical-align: center;
          transform: scale(.50);

          @media screen and (max-width: $laptop) {
            margin: 1.5rem auto 1rem;
            transform: scale(1);
            display: block;
            //margin-top: 1rem;
          }

          @media screen and (max-height: 850px) {
            transform: scale(.4);
          }
          @media screen and (max-width: $mobile) {
            display: none;
          }
        }

        span {
          @media screen and (max-width: $laptop) {
            width: 100%;
            text-align: center;
            padding: 0 .3rem;
          }
        }

        &.active {
          color: $light-green;

          @media screen and (max-width: $laptop) {

            &:before {
              content: '';
              position: absolute;
              width: 3px;
              left: 0;
              height: 100%;
              background-color: #E43137;
            }
          }
        }

        &:hover {
          cursor: pointer;
          color: $light-green;
        }
      }
    }
  }

}

.hamburger-menu {
  display: none;
  padding: 6px 0 0 8px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;

  &.open &__btn {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  &.open &__btn:before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  &.open &__btn:after {
    transform: rotate(-45deg) translate(35px, 35px);
  }


  &__btn {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 3px;
      background: #fff;
      border-radius: 3px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
      transition: all .5s ease-in-out;
    }

    &:before {
      transform: translateY(-10px);
    }

    &:after {
      transform: translateY(10px);
    }
  }
  @media screen and (max-width: $mobile) {
    display: flex;
  }
}