/* [ Overall colors ]*/
$black: #060F12;
$light-green: #59F5BC;
$light-gray: #EFF1F2;
$gray: #9296AD;
$green: #5DAF54;
$red: #AF5457;
$dark-blue: #122025;
$light-blue: #00a1e4;
$main-bg: #202428;


/* [ Invoice/Order status color ] */
$total: #707070;
$pending: #297FB0;
$confirmed: #43995C;
$process: $red;


/* [ Product page table ] */
$tablehead: #393939;
$tablebody: #222;
$tabletext: #fff;

/* [ Buttons ] */
