.filter {
  padding: 3rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.filter-item {
  display: flex;
  flex-direction: row;

  &__img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
  }

  &__text {
    color: $gray;
    font-size: 14px;
    cursor: default;
  }
}

.filter-item__status {
  box-shadow: $box-shadow;
  border-radius: 10px;

  ul {
    background: white;
    border-radius: 10px;
    display: flex;

    li {
      padding: 1rem 4rem;
      list-style: none;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &.active {
        background: $black;
        a {
          color: white;
        }
      }
      &:hover {
        background: $black;
        a {
          color: white;
        }
      }

      a {
        font-family: $roboto;
        font-size: 14px;
        font-weight: 300;

      }
    }
  }
}

.filter-item__time {
  box-shadow: $box-shadow;
  border-radius: 10px;
  ul {
    background: white;
    border-radius: 10px;
    display: flex;

    li {
      padding: 1rem 2.3rem;
      list-style: none;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &:hover {
        background: $light-green;
        a {
          color: white;
        }
      }
      a {
        text-transform: lowercase;
      }
    }
  }

  &-text {

  }
}
