.table__container {
  width: 100%;
}


.table__container table {
  width: 100%;
  border-collapse: collapse;


  tbody {
    text-align: center;
    tr {
      cursor: pointer;
      //display: none;
      transition: background .2s ease-in-out;

      //&.show {
      //  display: table-row;
      //}
      &:hover {
        background: #E9EBEC;

      }
      td {

        &.sender {
          font-weight: 700;
        }
        @media screen and (max-width: $tablet) {
          font-size: 13px;
        }

        &:nth-child(2) {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  span.status {
    background: $process;
    padding: .5rem 1.3rem;
    border-radius: 5px;

    &.confirmed {
      background: $confirmed;
    }

    &.pending {
      background: $pending;
    }

    &.in_process {
      background: $process;
    }
  }

  span.hour {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto 0;
    img {
      width: 15px;
      height: 15px;
    }

    @media screen and (max-width: $mobile) {
      //margin: 1rem 0 0 78%;

    }
    @media screen and (max-width: $mobile-sm) {
      width: 100%;
      img {
        visibility: hidden;
      }
    }
  }
}

.table__container {
  th {
    color: $gray;
    font-size: 13px;
    font-weight: 600;
  }

  tr {
    z-index: 100;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

  th, td {
    padding: 2rem 0;
  }
}


@media screen and (max-width: $mobile) {
  .table__container.invoice {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none; ,for accessibility */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tbody {
      padding: 0 1.5rem;
    }


    tr { padding: 0 1rem; background: white; margin-bottom: 1.5rem; }

    td {
      /* Behave like a 'row' */
      border: none;
      //border-bottom: 1px solid #ccc;
      position: relative;
      padding-left: 50%;
      text-align: center;
      @media screen and (max-width: $mobile-sm) {
        text-align: right;
      }
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 20px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: 400;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "№"; }
    td:nth-of-type(2):before { content: "Data creării"; top: 30px; }
    td:nth-of-type(3):before { content: "Data facturii"; }
    td:nth-of-type(4):before { content: "Data livrării"; }
    td:nth-of-type(5):before { content: "Destinatar"; }
    td:nth-of-type(6):before { content: "Stare"; }


  }

  .table__container.order {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none; ,for accessibility */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tbody {
      padding: 0 1.5rem;
    }

    tr { padding: 0 1rem; background: white; margin-bottom: 1.5rem; }

    td {
      /* Behave like a 'row' */
      border: none;
      //border-bottom: 1px solid #ccc;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 20px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;

    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "№"; }
    td:nth-of-type(2):before { content: "Data facturii"; }
    td:nth-of-type(3):before { content: "Data livrării"; }
    td:nth-of-type(4):before { content: "Stare"; }


    tr:nth-child(odd) {
      background: white;
    }
  }
}
