.product-container {
  border-radius: 10px;
  background-color: $tablehead;
  max-height: 100%;
  margin: 15px 0 30px 0;

  table {
    width: 100%;

    border-collapse: collapse;


    th {
      font-family: $roboto;
      font-size: 15px;
      color: $light-green;
      line-height: 1.4;
      text-transform: uppercase;
      background: $tablehead;
      padding: 1rem 3rem;

      text-align: left;

      &:not(:first-child) {
        text-align: center;
      }

      @media screen and (max-width: $laptop) {
        font-size: 12px;
        padding: 1rem;
      }

      @media screen and (max-width: $tablet) {
        font-size: 14px;
      }

      &:nth-child(4),
      &:nth-child(6) {
        @media screen and (max-width: $tablet) {
          display: none;
        }
      }



    }

    td:not(:first-child) {
      text-align: center;
      padding-left: 25px;
      @media screen and (max-width: $laptop) {
        font-size: 11px;
        padding-left: 25px;
      }
      @media screen and (max-width: $tablet) {
        font-size: 14px;
      }
      @media screen and (max-width: $mobile) {
        padding-left: 50%;
      }
    }

    td:first-child {
      @media screen and (max-width: $laptop) {
        padding: 1rem 0 1rem 1rem;
        text-align: left;
      }

    }



    td {
      background-color: $tablebody;
      color: $tabletext;
      padding: 1.5rem 3rem;
      @media screen and (max-width: $laptop) {
        font-size: 11px;
        padding: 1rem 3rem 1rem 1rem;
      }
      @media screen and (max-width: $tablet) {
        font-size: 14px;
      }

      @media screen and (max-width: $mobile) {
        text-align: left !important;
      }

      @media screen and (max-width: $mobile-sm) {
        text-align: right !important;
        padding-right: 1rem;
      }

      &:nth-child(4),
      &:nth-child(6) {
        @media screen and (max-width: $tablet) {
          display: none;
        }
      }
      &:nth-child(4),
      &:nth-child(6) {
        @media screen and (max-width: $mobile) {
          display: block;

        }
      }
    }
  }
}

.numspan {
  width: 100px;
  text-align: right !important;

}


@media screen and (max-width: $mobile) {

  .product-container {
    table, thead, tbody, th, td, tr {
      display: block;
    }

    .numspan {
      width: 100%;
      text-align: left !important;

      @media screen and (max-width: $mobile-sm) {
        text-align: right !important;
        padding-right: 15px;
      }
    }
    /* Hide table headers (but not display: none; ,for accessibility */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
      background: $light-gray;
    }

    thead td {
      background: $light-gray;

    }


    tr { border-bottom: 10px solid $light-gray;}

    td {
      /* Behave like a 'row' */
      border: none;
      //border-bottom: 1px solid #ccc;
      position: relative;
      padding-left: 50% !important;
      padding-right: 1rem !important;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;

      @media screen and (max-width: $mobile-sm) {
        text-align: left !important;
      }
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Denumire"; }
    td:nth-of-type(2):before { content: "Cantitate";}
    td:nth-of-type(3):before { content: "Pret unitar (fara TVA)"; }
    td:nth-of-type(4):before { content: "Valoarea totala (fara TVA)"; }
    td:nth-of-type(5):before { content: "TVA"; }
    td:nth-of-type(6):before { content: "Suma totala a TVA"; }
    td:nth-of-type(7):before { content: "Valoarea marfurilor"; }

  }
}